html, body 
{ 
	margin: 0; 
    height: 100%; 
    overflow: hidden
}
h1 {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
   position: relative;
   left:40%;
}
.button{
	height: 37px;
	width: 50px;
	border-radius:27px;
	display: inline-block;
	background-color: #61cce4;
	border:2px;
	text-align: center;
	padding-top: 17px;
	font-size:10px;
	font-family: sans-serif;
	color:red;
}
.button#UP{
	position: relative;
	left:54px;
}
.button:active
{
	background-color: #000000;
}
.cells
{
	height:31px;
	width:40px;
	border-radius:5px;
	display:inline-block;
	background-color: gray;
	border:3px;
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	color:red;
	margin-left: 3px;
	margin-top: 3px;
	padding-top: 10px;
}
.cells:hover
{
	background-color: white;
	transition-duration: 0.1s;
}
.divs{
	position: relative;
	left:40%;
}
.buttons
{
	position: relative;
	left:60%;
}
div#game
{
display:iblock;
}
